@keyframes Fade_In {
    0%  {
    	background-color: rgba(255,255,255,0);
    	border: 5px solid rgba(34,42,53,0);
    	}

    10% {
    	background-color: rgba(255,255,255,0.05);
    	border: 5px solid rgba(34,42,53,0.1);
		}

    20% {
    	background-color: rgba(255,255,255,0.1);
    	border: 5px solid rgba(34,42,53,0.2);
    	}

    30% {
    	background-color: rgba(255,255,255,0.15);
    	border: 5px solid rgba(34,42,53,0.3);
    	}

    40% {
    	background-color: rgba(255,255,255,0.2);
    	border: 5px solid rgba(34,42,53,0.4);
    	}

    50% {
    	background-color: rgba(255,255,255,0.25);
    	border: 5px solid rgba(34,42,53,0.5);
    	}

    60% {
    	background-color: rgba(255,255,255,0.3);
    	border: 5px solid rgba(34,42,53,0.6);
    	}

   	70% {
    	background-color: rgba(255,255,255,0.35);
    	border: 5px solid rgba(34,42,53,0.7);
    	}

    80% {
    	background-color: rgba(255,255,255,0.4);
    	border: 5px solid rgba(34,42,53,0.8);
    	}

    90% {
    	background-color: rgba(255,255,255,0.45);
    	border: 5px solid rgba(34,42,53,0.9);
    	}

    100%{
    	background-color: rgba(255,255,255,0.5);
  	  	border:5px solid rgba(34,42,53,1);
    	}
}