@import url("../CSS/PikminFont.css");
@import url("../CSS/Animation_Fade_In.css");
a, a:visited, a:hover, a:active
{
  color: inherit;
}

.Button_Title
{
        /* Position of the Box*/
    margin:auto;

        /* Size of the Box*/
    width: 600px;
    padding: 10px;

        /* Borders of the Box*/
    border:5px solid rgba(34,42,53,1);
    border-radius:80px;

        /* Inside the Box : Background*/
    background-color: rgba(255,255,255,0.5);

        /* Inside the Box : The Text */
    font-family: Pikmin;
    font-size: 48px;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 3px 2px rgba(34,42,53,0.5);
    color: rgba(34,42,53,1);

        /* Animation */
    animation-name: Fade_In;
    animation-duration: 1s;

        /* Cursor */
    cursor: pointer;

  transform: translateY(10px);
}



/*
    HOVER EFFECT - highlights the button when the mouse is on it
*/
.Button_Title:hover
{
    background-color: rgba(34,42,53,0.5);
    color: rgba(255,255,255,0.75);
    border: 5px solid rgba(255,255,255,0.75);
}

/*
    SPAN EFFECT - Adds additionnal text when the mouse is over the button
*/
.Button_Title span
{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.Button_Title span:after
{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

.Button_Title:hover span
{
  padding-right: 30px;
}

.Button_Title:hover span:after
{
  opacity: 1;
  right: 0;
}