@import url("../CSS/PikminFont.css");
@import url("../CSS/Animation_Fade_In.css");

a, a:visited, a:hover, a:active
{
  color: inherit;
}

.Button_Small
{
        /* Position of the Box*/
    margin-left: auto;
    margin-right: 20px;

        /* Size of the Box*/
    width: 200px;
    padding:10px;

        /* Borders of the Box*/
    border:5px solid rgba(34,42,53,1);
    border-radius:45px;

        /* Inside the Box : Background*/
    background-color: rgba(255,255,255,0.5);

        /* Inside the Box : The Text */
    font-family: Pikmin;
    font-size: 24px;
    text-align: center;
    text-shadow: 3px 2px rgba(34,42,53,0.5);
    color: rgba(34,42,53,1);

        /* Animation */
    animation-name: Fade_In;
    animation-duration: 1s;

        /* Cursor */
    cursor: pointer;


  vertical-align: middle;
}


/*
    HOVER EFFECT - highlights the button when the mouse is over it
*/
.Button_Small:hover
{
    background-color: rgba(255,255,255,0.75);
}

/*
    SPAN EFFECT - Adds additionnal text when the mouse is over the button
*/
.Button_Small span
{
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.Button_Small span:after
{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

.Button_Small:hover span
{
  padding-right: 30px;
}

.Button_Small:hover span:after
{
  opacity: 1;
  right: 0;
}