@import url("../CSS/PikminFont.css");

.Form_Connection
{
        /* Position of the Box*/


        /* Size of the Box*/
    width: 650px;
    height:500px;
    padding:10px;

        /* Borders of the Box*/
    border:5px solid rgba(34,42,53,1);
    border-radius:45px;

        /* Inside the Box : Background*/
    background-color: rgba(34,42,53,0.5);

        /* Inside the Box : The Text */
    font-family: Pikmin;
    font-size: 32px;
    text-align: left;
    color: rgba(255,255,255,1);
    text-shadow: 3px 2px rgba(34,42,53,0.5);
}